.App {
    text-align: left;
    padding: 32px;
  }
  
  .elements-board {
    background-color: #F7F7F7;
    border-radius: 8px;
    padding: 8px;
  }
  
  .top-wrapper {
    background-color: #F7F7F7;
    padding: 8px;
  }
  
  .top-wrapper__header {
    color: #3b4151;
    font-family: sans-serif;
    padding-bottom: 8px;
    font-size: 36px;
    margin: 0;
    text-align: center;
  }