@mixin textBorderCenter {
    border-radius: 4px;
    text-align: center;
    position: relative;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin buttonsSize($buttonsColor) {
    border-radius: 4px;
    border: none;
    font-size: 16px;
    padding: 4px;
    width: 64px;
    cursor: pointer;
    background-color: $buttonsColor
}

$buttonColor: #F93E3D;
$submitButtonColor: #61AFFE;
$clearButtonColor: #FBA12F;

.deleteModal-wrapper {
    height: 36px;
    width: 100%;
    cursor: pointer;
    background-color: #FBE8E7; 
    border-radius: 4px;
    border: 1px solid red;
    gap: 8px;
    @include flexRow();
}

.delete-endpoint-wrapper {
    background-color: #FBE8E7; 
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $buttonColor
}

.deleteModal-button {
    width: 60px;
    height: 20px;
    background-color: $buttonColor;
    padding: 4px;
    @include textBorderCenter();
    color: white;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4px;
}

.deleteModal-text {
    height: 20px;
    padding: 4px;
    @include textBorderCenter();
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4px;
}

.deleteModal-hint {
    height: 20px;
    padding: 4px;
    @include textBorderCenter();
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4px;
    color: grey;
}

.response-form {
    background-color: grey;
    border-radius: 8px;
    padding: 8px;
    color: white;
    margin-top: 8px;
}

.element-submit {
    color: white;
    @include buttonsSize($submitButtonColor)
}

.element-clear {
    @include buttonsSize($clearButtonColor)
}

.form-control {
    border-radius: 4px;
    border: 0.5px solid black;
}

.buttons-wrapper {
    @include flexRow();
    gap: 8px;
    padding-top: 8px;
}

.endpoint-path {
    color: grey;
}

.endpoint-wrapper-description {
    @include flexRow();
    gap: 24px;
}

.endpoint-header {
    border-bottom:0.5px solid black;
}

.endpoint-header__wrapper {
    @include flexColumn();
    gap: 4px;
}

.form-label {
    color: grey;
} 

.form-input {
    width: 150px;
    border-radius: 4px;
    border: 0.5px solid black;
}

.form-input__put {
    width: 150px;
    border-radius: 4px;
    border: 0.5px solid black;
    margin-bottom: 16px;
}

.response-form-wrapper {
    @include flexRow();
    gap: 24px;
}

