$backgroundColor: ivory;

.form-label {
    padding-right: 8px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-label {
    color: grey;
}

.form-control {
    border-radius: 4px;
    border: 0.5px solid black;
}

input:required:invalid {
    border-color: blue;
  }


input:invalid {
    background-color: $backgroundColor;
    border: none;
    outline: 1px solid black;
    border-radius: 5px;
}
input:valid{
    background-color: $backgroundColor;
    border: none;
    outline: 1px solid black;
    border-radius: 5px;
   }

